
.CodeMirror-focused .cm-matchhighlight {
	// background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
	// background-position: bottom;
	// background-repeat: repeat-x;
	border: 1px solid rgba(120,120,120, 0.2);
	border-radius: 2px;
	margin: -1px;
}

.CodeMirror {
	
	height: auto;
	// padding: 0 0 0 20px;
	padding: 0;
	margin-left: 20px;
	background: transparent;
	font-size: 11pt;
}

.CodeMirror-scroll {
	height: auto;
}

.CodeMirror-hint {
	padding-top: 3px;
	padding-bottom: 3px;
	max-width: 23em;
}