body {
	color: green;
	background: #fefefe;
	margin: 0;
	padding: 0;
	font-family: 'Avenir Next';

}

h1 {
	font-weight: 400;
}

* {
	box-sizing: border-box;
}

//   border: 1px solid silver;
//   height: 400px;
//   line-height: 1.3;
//   font-size: 12pt;
//   font-family: "Ubuntu Mono";
//   z-index: 2;
// }

.wrapper {
	display: flex;
}

.editpane, .outpane {
	height: 100%;
  	overflow-y: scroll;
  	flex-basis: 0;
  	padding-top: 10px;
}

.editpane {
  	flex-grow: 3;
}

.outpane {
  	flex-grow: 2;
  	padding: 30px;
  	background: #ECECEC;
  	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  	-webkit-user-select: initial;
}

.cell {
	display: flex;
	padding-bottom: 20px;
	margin: 10px;
	margin-left: 20px;
	
	// transition: opacity 1s ease-in;

	.cell-handle {
		border-left: 5px solid #ddd;
		cursor: move;
		transition: border-color 0.1s linear;
	}
	.cell-editor {
		flex-grow: 1;
	}
	&.focused .cell-handle{
		border-color: #74CAA3;
	}
}

.active-result {
	background: white;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.Resizer {
    background: #000;
    opacity: .2;
    z-index: 1;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

 .Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

 .Resizer.vertical {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.vertical:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.horizontal {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
    height: 100%;
}

.Resizer.horizontal:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}